{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        <div class="header">
            <h1>Hi, {{clientname}}, You have cash {{cashbalance}}</h1>
        </div>
        <div class="container">
            <div class="section">
                <h2>History</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Transaction</th>
                            <th>Time</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Symbol</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions%}
                        <tr>
                            <td>{{transaction["id"]}}</td>
                            <td>{{transaction["time"]}}</td>
                            <td>{{transaction["type"]}}</td>
                            <td>{{transaction["stockname"]}}</td>
                            <td>{{transaction["stocksymbol"]}}</td>
                            <td>{{transaction["stockprice"]}}</td>
                            <td>{{transaction["stockqty"]}}</td>
                            <td>{{transaction["totalprice"]}}</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total Transaction Count:</td>
                            <td>{{transactioncount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}